* {
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    background-image: url("../assets/images/Sun-Tornado.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    min-height: 100vh;
    background-color: rgba(236, 189, 128, 0.66);
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}
